:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}

/*font-family: 'Inter', sans-serif;*/

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("assets/img/Background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.secundario__imagem--telas {
    margin-left: 3em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    padding-bottom: 5em;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
    align-items: center;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2em;
    margin: 5em 0;
}

.dispositivos__item {
    font-weight: 700;
    font-size: 32px;
}

.lista__item {
    margin-top: 0.5em;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.rodape__logo {
    padding: 2px;
    margin: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 2em;
    margin-top: 1em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: greenyellow;
}

.lista__link--texto {
    font-size: 16px;
    font-weight: 400;
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
    padding: 2px;
    margin: 2em;
}